{% extends "MoexCoreBundle::layout.html.twig" %}
{% block moex_content %}
<div class="content-container">
<div class="left-part-container rate50">
    <div class="left-part">
        <div class="admin-header"><span>{{ entity.phone }}</span>
            <div class="contextual"> 
                <a href="{{ path('driver_charge', { 'id': entity.id }) }}" class="icon icon-charge">{{ "action_charge" | trans }}</a> 
                <a href="{{ path('driver_delete', { 'id': entity.id }) }}" class="icon icon-del">{{ "action_delete" | trans }}</a> 
                <a href="{{ path('driver_edit', { 'id': entity.id }) }}" class="icon icon-edit">{{ "action_edit" | trans }}</a>
                <a href="{{ path('driver') }}" class="icon icon-back">Back to list</a>
            </div>
        </div>

		<table class="record-properties" cellspacing="0">
			<tbody>
				<tr class="odd">
					<th class="label">{{ "driver_drivername" | trans }}</th>
					<td class="value">{{ entity.driverName }}</td>
				</tr>
				<tr class="even">
					<th class="label">{{ "driver_driverage" | trans }}</th>
					<td class="value">{{ entity.driverAge }}</td>
				</tr>
				<tr class="odd">
					<th class="label">{{ "driver_driverinfo" | trans }}</th>
					<td class="value">{{ entity.driverInfo }}</td>
				</tr>
				<tr class="even">
					<th class="label">{{ "driver_phone" | trans }}</th>
					<td class="value">{{ entity.phone }}</td>
				</tr>
				<tr class="odd">
					<th class="label">{{ "driver_position" | trans }}</th>
					<td class="value">{{ entity.position }}</td>
				</tr>
				<tr class="even">
					<th class="label">{{ "driver_createdat" | trans }}</th>
					<td class="value">{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
				</tr>
				<tr class="odd">
					<th class="label">{{ "driver_updatedat" | trans }}</th>
					<td class="value">{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
				</tr>
				<tr class="even">
					<th class="label">{{ "driver_money" | trans }}</th>
					<td class="value">{{ entity.money | number_format(0, '.', ',') }}</td>
				</tr>
			</tbody>
		</table>

        <div class="header-table"><span>{{ "header_order_assigned" | trans }}</span></div>
        <div class="header-intro"><span>{{ "intro_order_assigned" | trans }}</span></div>

        <table class="list records-list" cellspacing="0">
            <thead>
                <tr>
                    <th class="spec">{{ "table_id" | trans }}</th>
                    <th>{{ "order_phone" | trans }}</th>
                    <th>{{ "order_ordername" | trans }}</th>
                    <th>{{ "order_price" | trans }}</th>
                    <th>{{ "table_action" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for value in assigned_order %}
            {% set en = value %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td class="spec">{{ en.id }}</td>
                    <td class="phone"><a href="{{ path( 'order_show', { 'id': en.id }) }}">{{ en.phone }}</a></td>
                    <td class="name">{{ en.orderName }}</td>
                    <td>{{ en.price | number_format(0,'.',',') }}</td>
                    <td class="action">
                        <ul>
                            <li>
                                <a class="icon icon-quickview" href="{{ path('order_quickview', { 'order_id': en.id, 'driver_id': entity.id }) }}">{{ "action_quickview" | trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ "message_record_not_found" | trans }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="header-table"><span>{{ "header_order_done" | trans }}</span></div>
        <div class="header-intro"><span>{{ "intro_order_done" | trans }}</span></div>

        <table class="list records-list" cellspacing="0">
            <thead>
                <tr>
                    <th class="spec">{{ "table_id" | trans }}</th>
                    <th>{{ "order_phone" | trans }}</th>
                    <th>{{ "order_ordername" | trans }}</th>
                    <th>{{ "order_price" | trans }}</th>
                    <th>{{ "table_action" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for value in done_order %}
            {% set en = value %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td class="spec">{{ en.id }}</td>
                    <td class="phone"><a href="{{ path( 'order_show', { 'id': en.id }) }}">{{ en.phone }}</a></td>
                    <td class="name">{{ en.orderName }}</td>
                    <td>{{ en.price | number_format(0,'.',',') }}</td>
                    <td class="action">
                        <ul>
                            <li>
                                <a class="icon icon-quickview" href="{{ path('order_quickview', { 'order_id': en.id, 'driver_id': entity.id }) }}">{{ "action_quickview" | trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ "message_record_not_found" | trans }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

	</div>
</div>
<div class="right-part-container rate50">
	<div class="right-part">
		<div id="map"></div>
	</div>
</div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&dirflg=r"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="{{ asset ('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset ('js/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset ('js/mescript.js') }}"></script>
<script type="text/javascript">
var submit_click = false;
var province = ', Hà Nội, Việt Nam';
var submit_click = false;
var geocoder = new google.maps.Geocoder();
var latlng = new google.maps.LatLng(21.0188564, 105.8397048);
$(document).ready(function(){
	var myOptions = {
		zoom:15,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(document.getElementById("map"), myOptions);
	var marker = new google.maps.Marker({
		map: map,
		draggable: false 
	});
	sAddress = "{{ entity.position }}";
	geocoder.geocode({ 'address': sAddress }, function( results, status){
		if (status == google.maps.GeocoderStatus.OK){
			map.setCenter(results[0].geometry.location);
			marker.setPosition(results[0].geometry.location);
		}
	});
});
</script>
{% endblock moex_content %}
