<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MoEx - Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="menu-top-container">
			<div class="menu-top">
				<div class="menu-top-left">
					<ul>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Help</a>
						</li>
					</ul>
				</div>
				<div class="menu-top-right">
					<ul>
						<li>
							<a href="#">Hi {{ app.user.username }}!!!</a>
						</li>
						<li>
							<a href="/moex/wp-login.php?action=logout">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="banner-container">
			<div class="banner">
				<div class="logo-container">
					<div class="logo">
						<img src="{{ asset('images/logo3.png') }}"/>
					</div>
				</div>
				<div class="sub-menu-container">
					<div class="sub-menu">
						<div class="extramenu">
							<dl style="" class="dropdown">
								<dt><a id="linkglobal" style="cursor:pointer;" class="icon icon-tool">Actions</a></dt>
									<dd>
										<ul id="ulglobal">
											<li><a href="{{ path('order') }}"><span class="icon icon-order">Order Manager</span></a></li>
											<li><a href="{{ path('driver') }}"><span class="icon icon-driver">Driver Manager</span></a></li>
										</ul>
									</dd>
								</dl>
						 </div>
					</div>
				</div>
			</div>
		</div>

        {% block body %}{% endblock %}
        {% block javascripts %}
		{% endblock %}
		<div id="loading" style="display: none; "><img src="{{ asset('images/loader.gif') }}"></div>
		<div class="footer-container">
			<div class="footer">
				Developed by TechBurg 2012.

				<ul>
					<li><img src="{{ asset('images/facebook.png') }}"></li>
					<li><img src="{{ asset('images/twitter.png') }}"></li>
					<li><img src="{{ asset('images/google.png') }}"></li>
				</ul>
				<div class="footer-partner">
					<img src="{{ asset('images/logo3.png') }}">	
				</div>
			</div>
		</div>
		</div> <!-- end main-->
    </body>
</html>
