<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MoEx - Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/timepicker.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="menu-top-container">
			<div class="menu-top">
				<div class="menu-top-left">
					<ul>
						<li>
							<a href="{{ path('dashboard') }}">{{ "topbar_home" | trans }}</a>
						</li>
						<li>
							<a href="#">{{ "topbar_aboutus" | trans }}</a>
						</li>
						<li>
							<a href="#">{{ "topbar_help" | trans }}</a>
						</li>
					</ul>
				</div>
				<div class="menu-top-right">
					<ul>
						<li>
							<a href="#">{{ "topbar_hi" | trans }} {{ app.user.username }}!!!</a>
						</li>
						<li>
							<a href="/moex/wp-login.php?action=logout">{{ "topbar_logout" | trans }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="banner-container">
			<div class="banner">
				<div class="logo-container">
					<div class="logo">
						<a href="{{ path('dashboard') }}"><img src="{{ asset('images/logo3.png') }}"/></a>
					</div>
				</div>
				<div class="sub-menu-container">
					<div class="sub-menu">
						<div class="extramenu">
							<dl style="" class="dropdown">
								<dt><a id="linkglobal" style="cursor:pointer;" class="icon icon-tool">{{ "menu_actions" | trans }}</a></dt>
									<dd>
										<ul id="ulglobal">
											<li><a href="{{ path('order') }}"><span class="icon icon-order">{{ "menu_order_manager" | trans }}</span></a></li>
											<li><a href="{{ path('driver') }}"><span class="icon icon-driver">{{ "menu_driver_manager" | trans }}</span></a></li>
										</ul>
									</dd>
								</dl>
						 </div>
					</div>
				</div>
			</div>
		</div>

        {% block body %}{% endblock %}
        {% block javascripts %}
		{% endblock %}
		<div id="loading" style="display: none; "><img src="{{ asset('images/loading2.gif') }}"></div>
		<div id="mybox" class="light-box" style="display: none"></div>
		<div id="fade" class="black-overlay" style="display: none;"><img src="{{ asset('images/close.png') }}"></div>
		<div class="footer-container">
			<div class="footer">
				{{ "footer" | trans }}

				<div class="footer-partner">
					<img src="{{ asset('images/logo3.png') }}">	
				</div>
			</div>
		</div>
		</div> <!-- end main-->
    </body>
</html>
