{% extends "MoexCoreBundle::layout.html.twig" %}
{% block moex_content %}
<div class="content-container">
	<div class="content">
	<div class="admin-header">
		<div class="contextual">
			<a href="{{ path('order_new') }}" class="icon icon-add">{{ "action_new" | trans }}</a>
		</div>
	</div>
	<div class="admin-header-intro">{{ "order_admin_header_intro" | trans }}</div>
	<div class="splitleft-container">
		<div class="splitleft">
            <form action="{{ path('dashboard') }}" id="filter-form" method="POST">
				<input class="search-text" type="text" id="moex_corebundle_orderfiltertype_phone" name="moex_corebundle_orderfiltertype[phone]">
                <button type="submit" class="search-button-blue"></button>
            </form>

			<!--ul class="leftmenu">
				<li><a><span>{{ "menu_order_allitem" | trans }}</span></a></li>
				<li><a><span>{{ "menu_order_pending" | trans }}</span></a></li>
				<li><a><span>{{ "menu_order_assigned" | trans }}</span></a></li>
				<li><a><span>{{ "menu_order_done" | trans }}</span></a></li>
			</ul-->
		</div>
	</div>
	<div class="splitright-container">
		<div class="splitright">

        <table class="list records-list" cellspacing="0">
            <thead>
                <tr>
                    <th class="id">{{ "table_id" | trans }}</th>
                    <th>{{ "order_phone" | trans }}</th>
                    <th></th>
                    <th>{{ "order_orderfrom" | trans }}</th>
                    <th>{{ "order_orderto" | trans }}</th>
                    <th>{{ "order_price" | trans }}</th>
                    <th>{{ "table_action" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in paginator %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td class="id">{{ entity.id }}</td>
                    <td class="phone"><a href="{{ path('order_show', { 'id':entity.id }) }}">{{ entity.phone }}</a></td>
                    <td class="status {{ entity.orderStatus | lower }}"></td>
                    <td class="from">{{ entity.orderFrom | cut(20) }}</td>
                    <td class="to">{{ entity.orderTo | cut(20) }}</td>
                    <td class="price">{{ entity.price }}</td>
                    <td class="action">
                        <ul>
                            <li>
                                <a class="icon icon-del" href="{{ path('order_delete', { 'id': entity.id }) }}">{{ "action_delete" | trans }}</a>
                            </li>
                            <li>
                                <a class="icon icon-edit" href="{{ path('order_edit', { 'id': entity.id }) }}">{{ "action_edit" | trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr><td>no record found.</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination-container">
            {{ pagerfanta(paginator, 'default') }}
        </div>

		</div>
	</div>
	<div class="admin-header">
		<div class="contextual">
			<a href="{{ path('driver_new') }}" class="icon icon-add">{{ "action_new" | trans}}</a>
		</div>
	</div>
	<div class="admin-header-intro">{{ "driver_admin_header_intro" | trans }}</div>
	<div class="splitleft-container">
		<div class="splitleft">
            <form action="{{ path('dashboard') }}" id="filter-form" method="POST">
				<input class="search-text red" type="text" id="moex_corebundle_driverfiltertype_phone" name="moex_corebundle_driverfiltertype[phone]">
                <button type="submit" class="search-button-red"></button>
            </form>

			<!--ul class="leftmenu">
				<li><a><span>{{ "menu_driver_allitem" | trans }}</span></a></li>
			</ul-->
		</div>
	</div>
	<div class="splitright-container">
		<div class="splitright">
        <table class="list records-list" cellspacing="0">
            <thead>
                <tr>
                    <th class="spec">Id</th>
                    <th>{{ "driver_drivername" | trans }}</th>
                    <th>{{ "driver_phone" | trans }}</th>
                    <th>{{ "driver_position" | trans }}</th>
                    <th>{{ "table_action" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in paginator_driver %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td class="spec">{{ entity.id }}</td>
                    <td class="spec"><a href="{{ path('driver_show', { 'id': entity.id }) }}">{{ entity.driverName }}</a></td>
                    <td class="name">{{ entity.phone }}</td>
                    <td class="position">{{ entity.position | cut(30) }}</td>
                    <td class="action">
                        <ul>
                            <li>
                                <a class="icon icon-del" href="{{ path('driver_delete', { 'id': entity.id }) }}">{{ "action_delete" | trans }}</a>
                            </li>
                            <li>
                                <a class="icon icon-edit" href="{{ path('driver_edit', { 'id': entity.id }) }}">{{ "action_edit" | trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ "message_record_not_found" | trans }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination-container">
            {{ pagerfanta(paginator_driver, 'default') }}
        </div>

		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset ('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset ('js/mescript.js') }}"></script>
{% endblock moex_content %}
