{% extends "MoexCoreBundle::layout.html.twig" %}
{% block moex_content %}
<form action="{{ path('order_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="content-container">
<div class="left-part-container rate50">
	<div class="left-part">
		<div class="admin-header">{{ "header_order_edit" | trans }}
				<div class="contextual"> 
					<a class="icon icon-show" href="{{ path('order_show', { 'id': entity.id }) }}">{{ "action_show" | trans }}</a>
					<a class="icon icon-del" href="{{ path('order_delete', { 'id': entity.id }) }}">{{ "action_delete" | trans }}</a>
					<a href="{{ path('order') }}" class="icon icon-back">{{ "action_backtolist" | trans }}</a> 
				</div>
		</div>
	{% import "MoexCoreBundle:MeOrders:form.html.twig" as macro %}
	{{ macro.order_form(form)}}
	<div class="moex-form">
		<p class="alignright">
			<button type="submit">{{ "button_edit" | trans }}</button>
		</p>
	</div>
	</div>
</div>
<div class="right-part-container rate50">
	<div class="right-part">
		<div id="extra-info-container"><img src="{{ asset('images/close.png') }}"><div id="extra-info"></div></div>
		<div class="search-form-container">
			<div class="moex-form">

				<div class="form-split">{{ 'order_intro_ordermoney' | trans }}</div>

				<div class="form-row">
					{{ form_label(form.serviceType) }}
					{{ form_widget(form.serviceType) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.serviceType) }}
				</div>

				<div class="form-row">
					{{ form_label(form.thereturn) }}
					{{ form_widget(form.thereturn) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.thereturn) }}
				</div>


				<div class="form-row">
					{{ form_label(form.surcharge) }}
					{{ form_widget(form.surcharge) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.surcharge) }}
				</div>
				<div class="form-row">
					<div class="btn-container" id="count-surcharge"><span class="btn-main page">{{ "button_countsurcharge" | trans }}</span></div>
				</div>

				<div class="form-row">
					{{ form_label(form.promotion) }}
					{{ form_widget(form.promotion) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.promotion) }}
				</div>


				<div class="form-row">
					{{ form_label(form.roadPrice) }}
					{{ form_widget(form.roadPrice) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.roadPrice) }}
				</div>

				<div class="form-row">
					{{ form_label(form.extraPrice) }}
					{{ form_widget(form.extraPrice) }}

				</div>
				<div class="form-row">
					{{ form_errors(form.extraPrice) }}
				</div>

				<div class="form-row">
					{{ form_label(form.price) }}
					{{ form_widget(form.price) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.price) }}
				</div>
				<div class="form-row">
					<div class="btn-container" id="count-money"><span class="btn-main page">{{ "button_countmoney" | trans }}</span></div>
				</div>

				<div class="form-split">{{ 'order_intro_map' | trans }}</div>

				<div class="form-row">
					{{ form_label(form.orderFrom) }}
					{{ form_widget(form.orderFrom) }}
				</div>
				<div class="form-row">
				{{ form_widget(form.ordermeta)}}
				</div>
				<div class="order-meta">
					<a href="#" class="jslink">
						{{ 'add_order_position' | trans }}
					</a>
				</div>
				<div class="form-row">
					{{ form_label(form.orderTo) }}
					{{ form_widget(form.orderTo) }}
				</div>

				<div class="form-row">
					{{ form_label(form.distance) }}
					{{ form_widget(form.distance) }}
				</div>
				<div class="form-row">
					{{ form_errors(form.distance) }}
				</div>


				<div class="form-row">
					<div class="btn-search-container" id="search-submit"><span class="btn-main page">{{ "button_search" | trans }}</span></div>
				</div>
			</div>
		</div>
		<div id="map"></div>
	</div>
</div>
{{ form_rest(form) }}
</div>
</form>
{% include "MoexCoreBundle:MeOrders:js.html.twig" %}
{% endblock moex_content %}
