<h3>Filter Form</h3>
<div class="filter">
    <form action="{{ path('order') }}" id="filter-form" method="POST">
        {{ form_row(filterForm.phone) }}
        {{ form_row(filterForm.orderFrom) }}
        {{ form_row(filterForm.orderTo) }}
        {{ form_row(filterForm.orderInfo) }}

        <button type="submit">Filter</button>
        <button id="btn-clear" type="submit">Reset</button
  </form>
</div>

