<div class="admin-header">Orders list
	<div class="contextual"> 
		<a href="{{ path('order_new') }}" class="icon icon-add">New</a> 
	</div>
</div>

<table class="list records-list" cellspacing="0">
    <thead>
        <tr>
            <th class="spec">Id</th>
            <th>Phone</th>
            <th>Orderfrom</th>
            <th>Orderto</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td class="spec"><a href="{{ path('order_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.orderFrom }}</td>
            <td>{{ entity.orderTo }}</td>
            <td>{{ entity.price }}</td>
            <td>
                <ul>
                    <li>
                        <a class="icon icon-show" href="{{ path('order_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a class="icon icon-edit" href="{{ path('order_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
	{% else %}
		<tr><td>no record found.</td></tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination-container">
	{{ pagerfanta(paginator, 'default') }}
</div>

<ul>
    <li>
        <a href="{{ path('order_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
