<h1>Orders list</h1>

<table class="records_list" cellspacing="0">
    <thead>
        <tr>
            <th class="spec">Id</th>
            <th>Userid</th>
            <th>Orderfrom</th>
            <th>Orderto</th>
            <th>Orderinfo</th>
            <th>Phone</th>
            <th>Price</th>
            <th>Createdat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="spec"><a href="{{ path('order_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.userId }}</td>
            <td>{{ entity.orderFrom }}</td>
            <td>{{ entity.orderTo }}</td>
            <td>{{ entity.orderInfo }}</td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.price }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('order_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('order_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('order_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
