		{% import "MoexCoreBundle:MeOrders:macro.show.html.twig" as macro %}
		{{ macro.order_show(entity)}}
		<div class="header-table"><span>{{ "header_assign_drivers" | trans }}</span></div>
		<div class="header-intro"><span>{{ "intro_assign_drivers" | trans }}</span></div>

		<table class="list records-list" cellspacing="0">
			<thead>
				<tr>
					<th class="spec">{{ "table_id" | trans }}</th>
					<th>{{ "driver_phone" | trans }}</th>
					<th>{{ "driver_drivername" | trans }}</th>
					<th>{{ "driver_position" | trans }}</th>
					<th>{{ "driver_distance" | trans }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for value in assign_drivers %}
			{% set en = value[0] %}
			{% set distance = value['distance'] %}
				<tr id="{{ en.phone }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
					<td class="spec">{{ en.id }}</td>
					<td class="phone"><a href="{{ path('driver_show', { 'id': en.id}) }}">{{ en.phone }}</a></td>
					<td class="name">{{ en.driverName }}</td>
					<td>{{ en.position | cut(20) }}</td>
					<td>{{ '%.2f' | format(distance) }}</td>
					<td class="action">
                        <ul>
                            <li>
                                {% if( entity.orderStatus != status_done ) %}<a class="icon icon-unassign" href="{{ path('order_unassign', { 'order_id': entity.id, 'driver_id': en.id }) }}">{{ "action_unassign" | trans }}</a>
                                {% else %}<span class="icon icon-unassign disable">{{ "action_unassign" | trans }}</span>{% endif %}
                            </li>
                        </ul>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ "message_record_not_found" | trans }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="header-table"><span>{{ "header_unassign_drivers" | trans }}</span></div>
		<div class="header-intro"><span>{{ "intro_unassign_drivers" | trans }}</span></div>

		<table class="list records-list" cellspacing="0">
			<thead>
				<tr>
					<th>{{ "table_id" | trans }}</th>
					<th>{{ "driver_phone" | trans }}</th>
					<th>{{ "driver_drivername" | trans }}</th>
					<th>{{ "driver_position" | trans }}</th>
					<th>{{ "driver_distance" | trans }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for value in unassign_drivers %}
			{% set en = value[0] %}
			{% set distance = value['distance'] %}
				<tr id="{{ en.phone }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
					<td class="spec">{{ en.id }}</td>
					<td class="phone"><a href="{{ path('driver_show', { 'id': en.id}) }}">{{ en.phone }}</a></td>
					<td class="name">{{ en.driverName }}</td>
					<td>{{ en.position | cut(20) }}</td>
					<td>{{ '%.2f' | format(distance) }}</td>
					<td class="action">
                        <ul>
                            <li>
                                {% if( entity.orderStatus != status_done ) %}<a class="icon icon-assign" href="{{ path('order_assign', { 'order_id': entity.id, 'driver_id': en.id }) }}">{{ "action_assign" | trans }}</a>
                                {% else %}<span class="icon icon-assign disable">{{ "action_assign" | trans }}</span>{% endif %}
                            </li>
                        </ul>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ "message_record_not_found" | trans }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
