<h1>Orders</h1>

<table class="record-properties" cellspacing="0">
	<thread>
		<th class="nobg"></th>
		<th>Value</th>
	<thread>
    <tbody>
        <tr>
            <th class="specalt">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th class="specalt">Userid</th>
            <td>{{ entity.userId }}</td>
        </tr>
        <tr>
            <th class="specalt">Orderfrom</th>
            <td>{{ entity.orderFrom }}</td>
        </tr>
        <tr>
            <th class="specalt">Orderto</th>
            <td>{{ entity.orderTo }}</td>
        </tr>
        <tr>
            <th class="specalt">Orderinfo</th>
            <td>{{ entity.orderInfo }}</td>
        </tr>
        <tr>
            <th class="specalt">Phone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th class="specalt">Price</th>
            <td>{{ entity.price }}</td>
        </tr>
        <tr>
            <th class="specalt">Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th class="specalt">Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record-actions">
    <li>
        <a href="{{ path('order') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('order_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('order_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </li>
</ul>
