<div class="admin-header"><span>Orders</span>
	<div class="contextual"> 
		<a href="{{ path('order_new') }}" class="icon icon-add">New</a> 
        <a href="{{ path('order_edit', { 'id': entity.id }) }}" class="icon icon-add">Edit</a>
	</div>
</div>

<table class="record-properties" cellspacing="0">
	<thread>
		<th class="nobg"></th>
		<th>Value</th>
	<thread>
    <tbody>
        <tr>
            <th class="specalt">Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th class="specalt">Username</th>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <th class="specalt">Orderfrom</th>
            <td>{{ entity.orderFrom }}</td>
        </tr>
        <tr>
            <th class="specalt">Orderto</th>
            <td>{{ entity.orderTo }}</td>
        </tr>
        <tr>
            <th class="specalt">Orderinfo</th>
            <td>{{ entity.orderInfo }}</td>
        </tr>
        <tr>
            <th class="specalt">Phone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th class="specalt">Price</th>
            <td>{{ entity.price }}</td>
        </tr>
        <tr>
            <th class="specalt">Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th class="specalt">Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record-actions">
    <li>
        <form action="{{ path('order_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </li>
    <li>
        <a href="{{ path('order') }}">
            Back to the list
        </a>
    </li>
</ul>
<table class="list records-list" cellspacing="0">
    <thead>
        <tr>
            <th class="spec">Id</th>
            <th>Phone</th>
            <th>Name</th>
            <th>Position</th>
            <th>Distance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for value in drivers %}
    {% set en = value[0] %}
    {% set distance = value['distance'] %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td class="spec"><a href="{{ path('driver_show', { 'id': en.id }) }}">{{ en.id }}</a></td>
            <td class="phone">{{ en.phone }}</td>
            <td class="name">{{ en.driverName }}</td>
            <td class="position">{{ en.position }}</td>
            <td>{{ '%.2f' | format(distance) }}</td>
            <td class="action">
                <ul>
                    <li>
                        <a class="icon icon-show" href="{{ path('driver_show', { 'id': en.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% else %}
        <tr><td>no record found.</td></tr>
    {% endfor %}
    </tbody>
</table>
<div id="map"></div>

