<h1>MeOrders</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Userid</th>
            <td>{{ entity.userId }}</td>
        </tr>
        <tr>
            <th>Orderfrom</th>
            <td>{{ entity.orderFrom }}</td>
        </tr>
        <tr>
            <th>Orderto</th>
            <td>{{ entity.orderTo }}</td>
        </tr>
        <tr>
            <th>Orderinfo</th>
            <td>{{ entity.orderInfo }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ entity.price }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('order') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('order_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('order_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
