{% extends "MoexCoreBundle::layout.html.twig" %}
{% block moex_content %}
<div class="content-container">
<div class="left-part-container rate70">
    <div class="left-part">
    	<div class="admin-header-intro">{{ "money_header_intro" | trans }}</div>
		<table class="list records-list" cellspacing="0">
			<thead>
				<tr>
					<th class="spec">Id</th>
					<th>{{ "driver_drivername" | trans }}</th>
					<th>{{ "driver_phone" | trans }}</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for entity in paginator %}
				<tr class="{{ cycle(['odd', 'even'], loop.index) }}">
					<td class="spec">{{ entity.id }}</td>
					<td class="spec"><a href="{{ path('driver_show', { 'id': entity.driver.id }) }}">{{ entity.driver.driverName }}</a></td>
					<td class="name">{{ entity.driver.phone }}</td>
					<td class="">{{ entity.amount | number_format(0,'.',',') }}</td>
					<td class="">{{ entity.createdAt|date('H:i:s d-m-Y') }}</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ "message_record_not_found" | trans }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="pagination-container">
			{{ pagerfanta(paginator, 'default') }}
		</div>

    	<div class="admin-header-intro">{{ "order_driver_header_intro" | trans }}</div>
		<table class="list records-list" cellspacing="0">
			<thead>
				<tr>
					<th class="spec">Id</th>
					<th>{{ "driver_drivername" | trans }}</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for entity in order_paginator %}
				<tr class="{{ cycle(['odd', 'even'], loop.index) }}">
					<td class="spec">{{ entity.id }}</td>
					<td class="spec"><a href="{{ path('driver_show', { 'id': entity.driver.id }) }}">{{ entity.driver.driverName }}</a></td>
					<td class="spec"><a href="{{ path('order_show', { 'id': entity.order.id }) }}">{{ entity.order.orderName }}</a></td>
					<td class="">{{ entity.driver.dMoney | number_format(0,'.',',') }}</td>
					<td class="">{{ entity.money | number_format(0,'.',',') }}</td>
					<td class="">{{ entity.createdAt|date('H:i:s d-m-Y') }}</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ "message_record_not_found" | trans }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="pagination-container">
			{{ pagerfanta(paginator, 'default') }}
		</div>
	</div>
</div>
<div class="right-part-container rate30">
	<div class="right-part">
		<h3>{{ "header_filter_form" | trans }}</h3>
		<div class="filter">
			<form action="{{ path('money') }}" id="filter-form" method="POST">

    			<div class="admin-header-intro">{{ "filter_driver_header_intro" | trans }}</div>
				{{ form_row(filterForm.driverCode) }}
				{{ form_row(filterForm.phone) }}
				{{ form_row(filterForm.driverName) }}
				{{ form_row(filterForm.driverInfo) }}

    			<div class="admin-header-intro">{{ "filter_order_header_intro" | trans }}</div>

                {{ form_row(order_filterForm.phone) }}
                {{ form_row(order_filterForm.orderName) }}
                {{ form_row(order_filterForm.orderInfo) }}

                <button type="submit">{{ "button_filter" | trans }}</button>
                <button id="btn-clear" type="submit">{{ "button_reset" | trans }}</button
		  </form>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset ('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset ('js/mescript.js') }}"></script>
</div>
{% endblock moex_content %}
