		{% macro show_money(entity) %}
        <div class="admin-header"><span>{{ entity.id }}</span>
            <div class="contextual"> 
            </div>
        </div>

		<table class="record-properties" cellspacing="0">
			<tbody>
				<tr class="even">
					<th class="label">{{ "money_fromname" | trans }}</th>
					<td class="value"><a href="{{ path('driver_show', { 'id': entity.driver.id }) }}">{{ entity.driver.driverName }}</a></td>
				</tr>
				<tr class="odd">
					<th class="label">{{ "money_toname" | trans }}</th>
					<td class="value">{{ entity.user.userLogin }}</td>
				</tr>
				<tr class="event">
					<th class="label">{{ "money_amount" | trans }}</th>
					<td class="value">{{ entity.amount | number_format(0, '.', ',') }}</td>
				</tr>
				<tr class="odd">
					<th class="label">{{ "money_createdat" | trans }}</th>
					<td class="value">{{ entity.createdAt|date('H:i:s d-m-Y') }}</td>
				</tr>
				<tr class="even">
					<th class="label">{{ "money_updatedat" | trans }}</th>
					<td class="value">{{ entity.updatedAt|date('H:i:s d-m-Y') }}</td>
				</tr>
			</tbody>
		</table>
		{% endmacro %}
