{% extends "MoexCoreBundle::layout.html.twig" %}
{% block moex_content %}
<div class="content-container">
	<div class="middle-part rate60">
		{% import "MoexCoreBundle:MeMoney:macro.show.html.twig" as macro %}
		{{ macro.show_money(entity) }}
		<table class="list records-list" cellspacing="0">
			<thead>
				<tr>
					<th class="spec">Id</th>
					<th>{{ "driver_drivername" | trans }}</th>
					<th>{{ "driver_phone" | trans }}</th>
					<th>{{ "money_toname" | trans }}</th>
					<th>{{ "money_amount" | trans }}</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in paginator %}
				<tr class="{{ cycle(['odd', 'even'], loop.index) }}">
					<td class="spec">{{ entity.id }}</td>
					<td class="spec"><a href="{{ path('money_show', { 'id': entity.id }) }}">{{ entity.driver.driverName }}</a></td>
					<td class="name">{{ entity.driver.phone }}</td>
					<td class="name">{{ entity.user.userLogin }}</td>
					<td class="amount">{{ entity.amount | number_format(0, '.', ',') }}</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ "message_record_not_found" | trans }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="pagination-container">
			{{ pagerfanta(paginator, 'default') }}
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset ('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset ('js/mescript.js') }}"></script>
{% endblock moex_content %}
